.radioKnob {
  display: none;
}

.radioContent {
  text-align: left;
  padding: 1.5rem;
  background-color: var(--radioButton);
  border-radius: var(--radiusSmall);
  margin-bottom: 1rem;
  cursor: pointer;
}

.radioKnob:checked + .radioContent {
  background-color: var(--radioButtonChecked);
  color: var(--textLight);
}

.radioKnob:disabled + .radioContent {
  opacity: 0.5;
  cursor: default;
}

.radioKnob:checked:disabled + .radioContent {
  background-color: var(--radioButton);
  color: var(--textDark);
}

@media (hover: hover) and (pointer: fine) {
  .radioKnob:hover + .radioContent {
    background-color: var(--radioButtonHover);
  }

  .radioKnob:checked:hover + .radioContent {
    background-color: var(--radioButtonChecked);
  }

  .radioKnob:disabled:hover + .radioContent {
    background-color: var(--radioButton);
  }

  .radioKnob:checked:disabled:hover + .radioContent {
    background-color: var(--radioButton);
  }
}

@media (min-width: 650px) {
  .radioLabel {
    margin-right: 0.625rem;
    flex: 1 1 0px;
  }

  .radioLabel:last-child {
    margin-right: 0;
  }

  .radioContent {
    margin-bottom: 0;
    padding: 2rem 1.5rem 5.25rem;
    height: 100%;
  }
}
