.primary {
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1.39;
  border: none;
  cursor: pointer;
  font-family: "Fraunces", serif;
  background-color: var(--btnPrimaryBg);
  color: var(--btnPrimaryColour);
  padding: 1rem 2rem;
  border-radius: 0.375rem;
}

.primary:hover {
  background-color: var(--btnPrimaryBgHover);
}

.primary:disabled {
  background-color: var(--btnPrimaryDisabled);
}

@media (min-width: 573px) {
}
