.main {
  text-align: center;
}

@media (min-width: 550px) {
  .main {
    text-align: left;
  }
}

/* section spacing */

.commitmentSection,
.qualitySection,
.locationSection {
  margin-top: 7.5rem;
}

.locationSection {
  margin-bottom: 7.5rem;
}

@media (min-width: 550px) {
  .commitmentSection,
  .qualitySection,
  .locationSection {
    margin-top: 9rem;
  }

  .locationSection {
    margin-bottom: 9rem;
  }
}

@media (min-width: 900px) {
  .commitmentSection,
  .qualitySection,
  .locationSection {
    margin-top: 10.5rem;
  }

  .locationSection {
    margin-bottom: 10.5rem;
  }
}

/* intro section */

.intro {
  border-radius: var(--radiusLarge);
  padding: 6.875rem 1.5rem 5.5rem 1.5rem;
  background: url(/about/mobile/image-hero-whitecup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  color: var(--textLight);
}

.introContainer {
  max-width: 398px;
}

.introParagraph {
  opacity: 0.8;
  margin: 1.5rem 0 0;
}

@media (min-width: 500px) {
  .intro {
    margin-top: 3.3125rem;
    padding: 7.375rem 3.625rem;
    background-image: url(/about/tablet/image-hero-whitecup.jpg);
  }
}

@media (min-width: 900px) {
  .intro {
    padding: 7.5rem 5.3125rem;
    background-image: url(/about/desktop/image-hero-whitecup.jpg);
  }

  .introContainer {
    max-width: 493px;
  }

  .introParagraph {
    margin: 2rem 0 3.5rem;
    max-width: 445px;
  }
}

/* commitment section */

.commitmentSection {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.commitmentImage {
  border-radius: var(--radiusSmall);
  max-width: 327px;
}

.commitmentContent {
  max-width: 540px;
  margin: 3rem auto 0;
}

.commitmentTitle {
  margin-bottom: 1.875rem;
}

@media (min-width: 750px) {
  .commitmentSection {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .commitmentImage {
    min-width: 281px;
  }

  .commitmentContent {
    margin-top: 0;
    margin-left: 4.375rem;
  }
}

/* quality section */

.qualitySection {
  background-image: url(/about/mobile/bg-quality.png);
  color: var(--textLight);
  border-radius: var(--radiusLarge);
}

.qualitySectionContainer {
  padding: 0 2rem 3.75rem;
}

.qualityImage {
  border-radius: var(--radiusSmall);
  position: relative;
  top: -4.875rem;
}

.qualityContent {
  margin-top: -0.875rem;
}

.qualityTitle {
  margin-bottom: 1.5rem;
}

.qualityText {
  opacity: 0.5;
}

@media (min-width: 550px) {
  .qualitySection {
    background-image: url(/about/tablet/bg-quality.png);
  }
}

@media (min-width: 900px) {
  .qualitySection {
    background-image: url(/about/desktop/bg-quality.png);
  }
}

/* location section */

.locationSectionTitle {
  color: var(--secondaryTitle);
}

.locations {
  margin-top: 4.5rem;
}

.location {
  margin-top: 5rem;
}

.location:first-child {
  margin-top: 0;
}

.locationCountry {
  margin-top: 3rem;
}

.addressGroup {
  margin-top: 1.375rem;
}

.addressLine {
  margin: 0;
  font-size: 1rem;
  line-height: 1.62;
}
