.main {
  text-align: center;
}

@media (min-width: 550px) {
  .main {
    text-align: left;
  }
}

/* section spacing */

/* intro section */

.intro {
  border-radius: var(--radiusLarge);
  padding: 6.875rem 1.5rem 5.5rem 1.5rem;
  background: url(/about/mobile/image-hero-whitecup.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  color: var(--textLight);
}

.introContainer {
  max-width: 398px;
}

.introParagraph {
  opacity: 0.8;
  margin: 1.5rem 0 0;
}

@media (min-width: 500px) {
  .intro {
    margin-top: 3.3125rem;
    padding: 6.5rem 3.625rem;
    background-image: url(/about/tablet/image-hero-whitecup.jpg);
  }
}

@media (min-width: 900px) {
  .intro {
    padding: 7.5rem 5.3125rem;
    background-image: url(/about/desktop/image-hero-whitecup.jpg);
  }

  .introContainer {
    max-width: 493px;
  }

  .introParagraph {
    margin: 2rem 0 3.5rem;
    max-width: 445px;
  }
}

.quality {
  background-image: url(/about/mobile/bg-quality.png);
  color: var(--textLight);
}

@media (min-width: 550px) {
  .quality {
    background-image: url(/about/tablet/bg-quality.png);
  }
}

@media (min-width: 900px) {
  .quality {
    background-image: url(/about/desktop/bg-quality.png);
  }
}
