.main {
  text-align: center;
}

@media (min-width: 550px) {
  .main {
    text-align: left;
  }
}

.intro {
  margin-top: 2.5rem;
  border-radius: 0.625rem;
  padding: 6.25rem 1.5rem;
  background: url(/home/mobile/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--textLight);
}

.introContainer {
  max-width: 398px;
}

.introParagraph {
  opacity: 0.8;
  margin: 1.5rem 0 2.5rem;
}

@media (min-width: 550px) {
  .intro {
    padding: 6.5rem 3.625rem;
    background-image: url(/home/tablet/image-hero-coffeepress.jpg);
  }
}

@media (min-width: 900px) {
  .intro {
    padding: 7.5rem 5.3125rem;
    background-image: url(/home/desktop/image-hero-coffeepress.jpg);
  }

  .introContainer {
    max-width: 493px;
  }

  .introParagraph {
    margin: 2rem 0 3.5rem;
    max-width: 445px;
  }
}
