.main {
  text-align: center;
  color: var(--textDark);
}

@media (min-width: 550px) {
  .main {
    text-align: left;
  }
}

/* intro section */

.intro {
  margin-top: 2.5rem;
  border-radius: 0.625rem;
  padding: 6.25rem 1.5rem;
  background: url(/home/mobile/image-hero-coffeepress.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--textLight);
}

.introContainer {
  max-width: 398px;
}

.introParagraph {
  opacity: 0.8;
  margin: 1.5rem 0 2.5rem;
}

@media (min-width: 550px) {
  .intro {
    margin-top: 3.3125rem;
    padding: 6.5rem 3.625rem;
    background-image: url(/home/tablet/image-hero-coffeepress.jpg);
  }
}

@media (min-width: 900px) {
  .intro {
    padding: 7.5rem 5.3125rem;
    background-image: url(/home/desktop/image-hero-coffeepress.jpg);
  }

  .introContainer {
    max-width: 493px;
  }

  .introParagraph {
    margin: 2rem 0 3.5rem;
    max-width: 445px;
  }
}

/* collection sectio */

.collectionSection {
  margin-top: 7.5rem;
}

.collection {
  margin-top: 3rem;
}

.collection:first-child {
  margin-top: 0;
}

.bigBanner {
  font-size: 2.5rem;
  line-height: 1.8;
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coffeeBeanImg {
  max-width: 200px;
}

.collectionContent {
  padding: 0 1.5rem;
}

.collectionTitle {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 550px) {
  .bigBanner {
    font-size: 6rem;
  }
}

@media (min-width: 900px) {
  .bigBanner {
    font-size: 9.375rem;
  }
}
