.main {
  text-align: center;
}

@media (min-width: 550px) {
  .main {
    text-align: left;
  }
}

/* section spacing */

.stepSection,
.optionSection {
  margin-top: 7.5rem;
}

@media (min-width: 550px) {
  .stepSection,
  .optionSection {
    margin-top: 9rem;
  }
}

@media (min-width: 900px) {
  .stepSection,
  .optionSection {
    margin-top: 12.5rem;
  }
}

/* intro section */

.intro {
  border-radius: var(--radiusLarge);
  padding: 6.875rem 1.5rem 5.5rem 1.5rem;
  background: url(/plan/mobile/image-hero-blackcup.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  color: var(--textLight);
}

.introContainer {
  max-width: 398px;
}

.introParagraph {
  opacity: 0.8;
  margin: 1.5rem 0 0;
}

@media (min-width: 500px) {
  .intro {
    margin-top: 3.3125rem;
    padding: 7.375rem 3.625rem;
    background-image: url(/plan/tablet/image-hero-blackcup.jpg);
  }
}

@media (min-width: 900px) {
  .intro {
    padding: 7.5rem 5.3125rem;
    background-image: url(/plan/desktop/image-hero-blackcup.jpg);
  }

  .introContainer {
    max-width: 493px;
  }

  .introParagraph {
    margin: 2rem 0 3.5rem;
    max-width: 445px;
  }
}

/* steps */

.stepSection {
  background-image: url(/plan/mobile/bg-steps.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--radiusLarge);
  color: var(--lightCream);
  padding: 5rem 1.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  position: relative;
  text-align: center;
}

.stepBorder {
  display: none;
}

.stepSectionTitle {
  color: var(--secondaryTitle);
}

.step {
  margin-top: 3.5rem;
}

.step:first-child {
  margin-top: 0;
}

.stepText {
  margin: 0;
}

.stepNumber {
  color: var(--titleHighlight);
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1;
  font-family: "Fraunces", serif;
}

.stepTitle {
  margin-bottom: 1.5rem;
}

.stepContent {
  margin-top: 1.5rem;
}

.circle,
.borderCover {
  display: none;
}

@media (min-width: 450px) {
  .stepSection {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}

@media (min-width: 650px) {
  .stepSection {
    background-image: url(/plan/tablet/bg-steps.png);
    text-align: left;
    max-width: initial;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }

  .stepBorder {
    display: initial;
    position: absolute;
    width: calc(66% + 2.25rem);
    border: 1px solid var(--stepBorder);
    margin: 0;
  }

  .steps {
    display: flex;
    position: relative;
    margin: 2.5rem 0;
    max-width: 1045px;
  }

  .step {
    margin-top: 0;
    margin-right: 1.5rem;
    position: relative;
    max-width: 285px;
    flex: 1 1 0px;
  }

  .step:last-child {
    margin-right: 0;
  }

  .circle {
    position: relative;
    top: -1rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 2px solid var(--circleBorder);
    background-color: transparent;
  }

  .stepNumber {
    margin-top: 2.875rem;
  }

  .stepContent {
    margin-top: 2.625rem;
  }

  .stepTitle {
    margin-bottom: 2.375rem;
    max-width: 233px;
  }
}

@media (min-width: 900px) {
  .stepSection {
    padding-left: 5.3125rem;
    background-image: url(/plan/desktop/bg-steps.png);
    margin-left: 0;
    margin-right: 0;
  }

  .steps {
    margin: 5rem 0;
  }

  .step {
    margin-right: 6rem;
    max-width: 285px;
  }

  .stepBorder {
    width: calc(66% + 5.25rem);
  }
}

/* options section */

.optionSection {
  display: flex;
}

.optionStatus {
  display: none;
}

.options {
  width: 100%;
  max-width: 730px;
}

.radioGroup {
  margin-bottom: 6.875rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 650px) {
  .radioGroup {
    flex-direction: row;
  }
}

/* order summary */

.summary {
  background-color: var(--darkBG);
  color: var(--textLight);
  text-align: left;
  padding: 2rem 1.5rem;
  border-radius: var(--radiusLarge);
  margin-bottom: 3.5rem;
}

.summaryContent {
  margin: 0;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.67;
}

.summaryOption {
  color: var(--highlightText);
}

.buttonContainer {
  text-align: center;
}

@media (min-width: 650px) {
  .summary {
    padding: 1.75rem 2.75rem;
  }
}
